@import "../../assets/styling/collection/variables";

.tag {
  position: relative;
  width: 100%;
  display: flex;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 16px;
  flex-direction: row;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tag--primary {
  color: $primary-900;

  .tag-content {
    padding: 0.25rem 0.5rem;
    color: $primary-900;
    background: $primary-300;
    border-radius: $border-radius;
  }
}