.top-scroll-button {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.slide-in-from-bottom {
  animation: slide-in-from-bottom 0.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-out-to-bottom {
  animation: slide-out-to-bottom 0.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

// animation slide in from bottom
@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

// animation slide out to bottom
@keyframes slide-out-to-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(100% + 16px));
  }
}