// importing collection of scss files
@import 'collection/variables';
@import 'collection/spacing';
@import 'collection/mixins';
@import 'collection/fonts';
@import 'collection/typography';

// node packages styles
@import 'react-toastify/dist/ReactToastify.css';

* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    margin: 0;
}

.container {
    position: relative;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $p-2 $p-4;
}

// text
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container-header {
    margin: $m-4 0;
}

@include media('phone') {
    .container {
        padding: 0 !important;
    }

    .container-header {
        padding: 0 $p-4 !important;
    }

    .block {
        padding: $p-2 $p-1 !important;
    }
}

.logo {
    width: 50px;
    height: 50px;
}

// flex
.flex {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-start,
.flex-justify-start {
    justify-content: flex-start;
}

.flex-end,
.flex-justify-end {
    justify-content: flex-end;
}

.flex-center,
.flex-justify-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-justify-space-around {
    justify-content: space-around;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

// flex direction
.flex-column {
    flex-direction: column;
}

// alignment position
.align-right {
    justify-content: flex-end;
}

.align-center {
    justify-content: center;
}

// positions
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-static {
    position: static;
}


// positioning top left right bottom
.end-0 {
    right: 0;
}

.start-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

// Sizing
.w-100 {
    width: 100%;
}

.vw-100 {
    width: 100vw;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

// translate
.translate-middle {
    transform: translate(-50%, -50%);
}

.translate-middle-x {
    transform: translateX(-50%);
}

.translate-middle-y {
    transform: translateY(-50%);
}

// Text colors
.text-primary {
    color: $primary-text;
}

.text-secondary {
    color: $secondary-text;
}

.text-tertiary {
    color: $tertiary-text;
}

.text-subtle {
    color: $subtle-text;
}

.text-white {
    color: $white-text;
}

// Colored text
.text-color-primary {
    color: $color-primary-text;
}

.text-color-primary-light {
    color: $color-primary-light-text;
}

.text-color-secondary {
    color: $color-secondary-text;
}

.text-color-tertiary {
    color: $color-tertiary-text;
}

// Text shadows
.text-shadow {
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.353);
}

// Text ellipsis
.ellipsis {
    text-overflow: ellipsis;
}

// Backdrop gradient overlay
.backdrop-gradient-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    z-index: -1;
}

// Toastify
.Toastify__close-button {
    display: none;
}

.Toastify__toast-body {
    padding: $p-2 $p-1;
}

// Animations
// Slide out to bottom
@keyframes slide-out-to-bottom {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(calc(100% + 16px));
    }
}

.animate__SlideOutDown {
    animation: slide-out-to-bottom 0.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Fade out up
@keyframes fade-out-up {
    0% {
      opacity: 1;
      scale: 1;
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      scale: 0.8;
      transform: translateY(-50%);
    }
}

.animate__fadeOutUp {
    animation: fade-out-up .8s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Fade in up
@keyframes fade-in-up {
    0% {
      opacity: 0;
      scale: 0.8;
      transform: translateY(-50%);
    }
  
    100% {
      opacity: 1;
      scale: 1;
      transform: translateY(0);
    }
}

.animate__fadeInUp {
    animation: fade-in-up .8s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Fade in down
@keyframes fade-in-down {
    0% {
      opacity: 0;
      scale: 0.8;
      transform: translateY(50%);
    }
  
    100% {
      opacity: 1;
      scale: 1;
      transform: translateY(0);
    }
}

.animate__fadeInDown {
    animation: fade-in-down .8s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}